<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhs.mapper.survey.OperatorProgressionDataMapper">



  <!-- 按主键 ak_uid 游标分页查询，避免 limit offset 深分页扫描 -->
  <select id="getOperatorProgressionData" resultType="com.lhs.entity.po.survey.OperatorProgressionData">
      SELECT ak_uid, operator_progression, create_time
      FROM operator_progression_data
      WHERE ak_uid &gt; #{lastAkUid}
      ORDER BY ak_uid
      LIMIT #{rowNum}
  </select>


</mapper>