<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhs.mapper.survey.OperatorDataMapper">


    <!--  批量插入干员练度信息表-->
    <insert id="insertBatch">
        INSERT INTO operator_data
        (`id`, `ak_uid`, `char_id`, `elite`, `level`, `potential`, `rarity`, `main_skill`, `skill1`, `skill2`, `skill3`, `mod_x`,
        `mod_y`,`mod_d`,`own`)
        VALUES
        <foreach collection="list" item="item" separator="," >
            (#{item.id},#{item.akUid}, #{item.charId}, #{item.elite},
            #{item.level},#{item.potential}, #{item.rarity}, #{item.mainSkill}, #{item.skill1},
            #{item.skill2},#{item.skill3},#{item.modX},#{item.modY},#{item.modD},
            #{item.own})
        </foreach>
    </insert>


</mapper>
