<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhs.mapper.survey.QuestionnaireStatisticsResultMapper">

    <update id="updateStatisticsResultRecordType" >
        UPDATE questionnaire_statistics_result
        SET record_type = #{targetRecordType}
        WHERE record_type = #{currentRecordType}
        AND questionnaire_code = #{questionnaireCode}
    </update>

    <select id="getLastData" resultType="com.lhs.entity.po.survey.QuestionnaireStatisticsResult">
         select * from questionnaire_statistics_result where  record_type = 1 AND questionnaire_code = #{questionnaireCode} ORDER BY create_time DESC LIMIT 1
    </select>

</mapper>