<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhs.mapper.survey.RecruitDataMapper">

    <insert id="insertRecruitData">
        INSERT INTO ${tableName}
        (`id`, `create_time`, `level`, `server`, `source`, `tag`, `uid`, `version`)
        VALUES (#{item.id}, #{item.createTime}, #{item.level}, #{item.server},
                #{item.source}, #{item.tag}, #{item.uid}, #{item.version})
    </insert>

    <select id="selectRecruitDataByCreateTime" resultType="com.lhs.entity.po.maa.RecruitData">
        SELECT *
        FROM  ${tableName}
        WHERE
       `create_time` &gt; #{startTime} AND
        `create_time` &lt;= #{endTime}
    </select>

    <insert id="insertRecruitStatistics">
        INSERT INTO `recruit_statistics`
            ( `statistical_item`, `statistical_result`)
        VALUES (#{statistics.statisticalItem}, #{statistics.statisticalResult});
    </insert>

    <select id="selectRecruitStatistics" resultType="com.lhs.entity.po.maa.RecruitStatistics">
        SELECT * FROM `recruit_statistics`
    </select>

    <select id="selectRecruitStatisticsByItem" resultType="com.lhs.entity.po.maa.RecruitStatistics">
        SELECT * FROM `recruit_statistics` WHERE  `statistical_item` = #{statisticalItem}
    </select>

    <update id="updateRecruitStatistics">
        UPDATE `recruit_statistics`
        SET   `statistical_result` = #{statistics.statisticalResult}
        WHERE `statistical_item`   = #{statistics.statisticalItem}
    </update>







</mapper>
