<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhs.mapper.rogue.RogueSeedRatingStatisticsMapper">
    <select id="pageRogueSeedRatingStatistics" resultType="com.lhs.entity.po.rogue.RogueSeedRatingStatistics">
        SELECT id, seed_id, rating ,thumbs_up,thumbs_down
        FROM rogue_seed_rating_statistics
        WHERE delete_flag = false
        ORDER BY rating DESC LIMIT ${pageNum}, ${pageSize}
    </select>
</mapper>