<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhs.mapper.rogueSeed.RogueSeedMapper">

    <select id="pageRogueSeedOrderByCondition" resultType="com.lhs.entity.po.rogue.RogueSeed">
        SELECT seed_id, seed, rogue_version, rogue_theme, description, difficulty,rating,rating_count, source, upload_times, create_time, update_time,squad, operator_team,score,tags, summary_image_link, seed_type
        FROM `rogue_seed`
        WHERE `delete_flag` = false
        ORDER BY ${sortCondition} DESC LIMIT #{pageNum},#{pageSize};
    </select>


</mapper>