<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhs.mapper.survey.RecruitDataMapper">
    <insert id="insertBatch">
        INSERT INTO `rouge_seed_tag`
        (tag_id, seed_id, tag, create_time, delete_flag)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.tagId},#{item.seedId},#{item.tag},#{item.createTime},#{item.deleteFlag})
        </foreach>
    </insert>


</mapper>