<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhs.mapper.item.StageResultCommonMapper">

    <insert id="insertBatch">
        INSERT INTO stage_result_common
        (`id`,`stage_id`,`stage_code`,`stage_type`,`item_type`,`item_type_id`,`secondary_item_id`,`stage_efficiency`,`le_t5_efficiency`,`le_t4_efficiency`,`le_t3_efficiency`,`end_time`,`spm`,`version`)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id},#{item.stageId},#{item.stageCode},#{item.stageType},#{item.itemType},#{item.itemTypeId},#{item.secondaryItemId},#{item.stageEfficiency},#{item.leT5Efficiency},#{item.leT4Efficiency},#{item.leT3Efficiency},#{item.endTime},#{item.spm},#{item.version})
        </foreach>
    </insert>


</mapper>