<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhs.mapper.material.StageDropMapper">

    <insert id="insertBatch">
        INSERT INTO ${tableName}
        (id, drops,stage_id, times, server, source, uid, version, create_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id},#{item.drops},#{item.stageId},#{item.times},
             #{item.server},#{item.source},#{item.uid},#{item.version},#{item.createTime})
        </foreach>
    </insert>

    <select id="selectStageDropByDate" resultType="com.lhs.entity.po.material.StageDrop">
        SELECT *
        FROM stage_drop_20240524
        WHERE create_time &gt; #{start}   AND create_time &lt;= #{end}
    </select>

    <select id="selectStageDropDetail" resultType="com.lhs.entity.po.material.StageDropDetail">
        SELECT *
        FROM stage_drop_detail_20240524
        WHERE child_id &gt;= #{start}   AND child_id &lt;= #{end}
    </select>



    <select id="selectStageDropV2ByStageId" resultType="com.lhs.entity.po.material.StageDropV2">
        SELECT *
        FROM stage_drop
        WHERE stage_id = #{stageId} AND create_time &gt; #{start} AND create_time &lt;= #{end}
    </select>

    <select id="selectStageDropV2ByDate" resultType="com.lhs.entity.po.material.StageDropV2">
        SELECT *
        FROM ${tableName}
        WHERE create_time &gt; #{start} AND create_time &lt;= #{end}
    </select>

    <insert id="insertBatchStageDropStatistics">
        INSERT INTO stage_drop_statistics
        (id, stage_id, item_id, times, quantity,start, end, time_granularity, create_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id},#{item.stageId},#{item.itemId},#{item.times},
            #{item.quantity},#{item.start},#{item.end},#{item.timeGranularity},#{item.createTime})
        </foreach>
    </insert>

    <select id="listStageDropStatisticsByDate" resultType="com.lhs.entity.po.material.StageDropStatistics">
        SELECT *
        FROM stage_drop_statistics
        WHERE time_granularity = #{timeGranularity} AND end &gt; #{start} AND end &lt;= #{end}
    </select>

    <select id="listStageDropStatisticsByStageId" resultType="com.lhs.entity.po.material.StageDropStatistics">
        SELECT *
        FROM stage_drop_statistics
        WHERE stage_id = #{stageId} AND time_granularity = #{timeGranularity} AND end &gt; #{start} AND end &lt;= #{end}
    </select>
</mapper>