<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhs.mapper.survey.SurveyStatisticsUserMapper">


    <!--  清空统计表-->
    <delete id="truncate">
        TRUNCATE TABLE `survey_statistics_user`
    </delete>

</mapper>
