<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhs.mapper.survey.SurveyOperatorMapper">


    <!--  批量插入干员练度信息表-->
    <insert id="insertBatch">
        INSERT INTO ${tableName}
        (`id`, `uid`, `char_id`, `elite`, `level`, `potential`, `rarity`, `main_skill`, `skill1`, `skill2`, `skill3`, `mod_x`,
        `mod_y`,`own`)
        VALUES
        <foreach collection="list" item="item" separator="," >
            (#{item.id}, #{item.uid}, #{item.charId}, #{item.elite},
            #{item.level},#{item.potential}, #{item.rarity}, #{item.mainSkill}, #{item.skill1},
            #{item.skill2},#{item.skill3},#{item.modX},#{item.modY},
            #{item.own})
        </foreach>
    </insert>

    <update id="updateByUid">
        UPDATE ${tableName}
        SET
            `char_id` = #{item.charId},
            `own` = #{item.own},
            `level` = #{item.level},
            `elite` = #{item.elite},
            `potential` = #{item.potential},
            `rarity` = #{item.rarity},
            `main_skill` = #{item.mainSkill},
            `skill1` = #{item.skill1},
            `skill2` = #{item.skill2},
            `skill3` = #{item.skill3},
            `mod_x` = #{item.modX},
            `mod_y` = #{item.modY}
            WHERE
                id = #{item.id}
    </update>
    

</mapper>
