<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhs.mapper.SurveyScoreMapper">

    <!-- 干员练度信息表，批量插入-->
    <insert id="insertBatchSurveyScore">
        INSERT INTO ${tableName}
        (`id`, `uid`, `char_id`,`rarity`,
         `daily`, `rogue`, `security_service`,
         `hard`, `universal`, `counter`,
        `building`, `comprehensive`)
        VALUES
        <foreach collection="scoreList" item="score" separator=",">
            (#{score.id}, #{score.uid}, #{score.charId},#{score.rarity},
            #{score.daily},#{score.rogue},#{score.securityService},
            #{score.hard}, #{score.universal},#{score.counter},
             #{score.building},#{score.comprehensive})
        </foreach>
    </insert>


    <!-- 干员练度信息表，根据id更新-->
    <update id="updateSurveyScoreById">
        UPDATE ${tableName}
        SET `daily`            = #{score.daily},
            `rogue`            = #{score.rogue},
            `security_service` = #{score.securityService},
            `hard`             = #{score.hard},
            `universal`        = #{score.universal},
            `counter`  = #{score.counter},
            `building`        = #{score.building},
            `comprehensive`  = #{score.comprehensive}
        WHERE `id` = #{score.id};
    </update>

    <!-- 干员练度信息表，根据多个uid查询-->
    <select id="selectSurveyScoreVoByUidList" resultType="com.lhs.vo.survey.SurveyScoreVo">
        SELECT `char_id`,`rarity`, `daily`, `rogue`,`security_service` , `hard`,
               `universal`, `counter`,`building`, `comprehensive`
        FROM ${tableName}
        WHERE `uid` IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <!-- 干员练度信息表，根据单个uid查询-->
    <select id="selectSurveyScoreByUid" resultType="com.lhs.entity.survey.SurveyScore">
        SELECT *
        FROM ${tableName}
        WHERE `uid` = #{uid}
    </select>


    <!--    干员练度统计表批量插入-->
    <insert id="insertBatchScoreStatistics">
        INSERT INTO `survey_statistics_score`
        (`charId`, `rarity`, `daily`, `sample_size_daily`, `rogue`, `sample_size_rogue`,
        `security_service`, `sample_size_security_service`, `hard`, `sample_size_hard`,
         `universal`,`sample_size_universal`, `counter`, `sample_size_counter`,
        `building`,`sample_size_building`, `comprehensive`, `sample_size_comprehensive`)
        VALUES
        <foreach collection="surveyStatisticsList" item="surveyStatistics" separator=",">
        (
            #{surveyStatistics.charId},
            #{surveyStatistics.rarity},
            #{surveyStatistics.daily},
            #{surveyStatistics.sampleSizeDaily},
            #{surveyStatistics.rogue},
            #{surveyStatistics.sampleSizeRogue},
            #{surveyStatistics.securityService},
            #{surveyStatistics.sampleSizeSecurityService},
            #{surveyStatistics.hard},
            #{surveyStatistics.sampleSizeHard},
            #{surveyStatistics.universal},
            #{surveyStatistics.sampleSizeUniversal},
            #{surveyStatistics.counter},
            #{surveyStatistics.sampleSizeCounter},
            #{surveyStatistics.building},
            #{surveyStatistics.sampleSizeBuilding},
            #{surveyStatistics.comprehensive},
            #{surveyStatistics.sampleSizeComprehensive}
        )
        </foreach>
    </insert>

    <!--  干员练度统计表，清空表-->
    <delete id="truncateScoreStatisticsTable">
        TRUNCATE TABLE `survey_statistics_score`
    </delete>

    <!--   查询所有干员练度统计表结果-->
    <select id="selectScoreStatisticsList" resultType="com.lhs.entity.survey.SurveyStatisticsScore">
        Select *
        FROM `survey_statistics_score`
    </select>


</mapper>